# Build files

bin/
obj/

# User-specific files

*.user
*.swp
*.suo
*.vscode/
*.vs/
.idea/

# Git files

.git
.gitignore

# Node-related files
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# OS-specific files

.DS_Store
Thumbs.db

# Docker files

.dockerignore
docker-compose.override.yml